
.sortBy{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    div{
        display: inline-flex;
        border: 1px solid black;
        border-left: 0;
        width: auto;
        flex:1;
    }
}

.list{
    overflow: scroll;
    height: 31rem;
}

.list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}