#mainbox{
    border: 1px solid black;
    width: 500px;
    margin: auto;
    background: #E9ECEF;
}

.labels{
    margin-left: 75px;
}

.textin{
    width: 65%;
    margin-left: 75px;
}

h3{
    text-align: center;
}